html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
    background-color:#4682B4;
   
  font-family: 'Raleway', serif;
  font-size:3rem;
  margin:20px auto;
  text-decoration:none;
  color:#00008B;
  
  
}
h1{
  text-shadow: 2px 2px #000;
  /* Longform */
  padding-top:40px;
  padding-right:40px;
  padding-bottom:20px;
  padding-left:40px;
}

 h2{
  font-size:2rem;
  margin:20px auto 40px;
  width: 1200px;
  border: 15px solid #00008B;
  padding: 50px;
  margin: 20px;
  
}


