/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.container {
  width: 80vw;
  margin: 40px auto;
  max-width: 900px;
}


/* ----- Global Styles ---- */

body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
}

header.primary {
  background-color: #181c1f;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
  /* Shorhand T,R,B,L*/
  padding: 20em 2em;
  position: relative;
}
header.primary h1 {
  font-size: 3.2rem;
  margin: 20px 0;
  position: relative;
}
header.primary h1 a {
  color: #ffffff;
  background-image: url("../img2/history.png");
  display: block;
  width: 500px;
  height: 250px;
  margin: 0 auto;
  text-indent:100%;
  white-space:nowrap;
  overflow:hidden;}

header.primary::before {
  content: "";
  background-image: url("../img2/stars.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .5;
}

header.primary nav ul {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  max-width: 900px;
  margin: 20px auto;
}


header.primary nav li {
  list-style-type: none;
  padding: 0;
  width: 20%;
}

header.primary nav a:link,
header.primary nav a:visited {
  color: white;
  text-decoration: none;
  background-color: #000000;
  background-color: rgba(142, 166, 184, 0.4);
  padding: 8px 16px;
  border-radius: 0px;
  transition: 0.6s;
  display: block;
}

header.primary nav a:hover,
header.primary nav a:active {
  background-color: rgba(51, 83, 107, 0.8);
}

 
.gallery {
	background-color: #CCC;
	width: 730px;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
	border: 4px solid #999;
	height: 516px;
	overflow: hidden;
	border-radius: 4px;
}
.gallery img {
	margin: 15px;
}

footer#colophon {
  background-color: #1b2c38;
}

#colophon h6 {
  padding: 20px;
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: .7rem;
  text-transform: uppercase;
}

#colophon h6 a:link,
#colophon h6 a:visited {
  color: #fff;
}
